img
{
    float: left;
}
#nombre
{
    font-size: 30px;
    margin-left: 65%;
    font-weight: bold;
}
#precio
{
    font-size: 25px;
    margin-left: 65%;
}
#detalles
{
    font: 24px;
    margin-left: 65%;
}
p
{
    font-family: sans-serif;
}
#info
{
    margin-top: 80px;
}