img
{
    margin-top: 4%;
    margin-left: 20%;
    width: 400px;
    height: 400px;
}
#info #nombre
{
    font-size: 30px;
    margin-left: 65%;
    font-weight: bold;
}
#info #precio
{
    font-size: 25px;
    margin-left: 65%;
}
#info #detalles
{
    font: 24px;
    margin-left: 65%;
}
p
{
    font-family: sans-serif;
}
h1
{
    font-size: 40px;
    font-family: sans-serif;
    color: #FFFFFF;
    text-shadow: 4px 4px 0px #004AAD;
    text-align: center;
    font-weight: bold;
    top: 5%;
    margin-top: 20px;
    
}
#info
{
    margin-right: 17%;
    margin-top: 10%;
}
#menu a
{
    font-weight: bold;
    font-size: 30px;
    text-shadow: 3px 3px 0px #FFFFFF;
    color: #004AAD;
}
table
{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    border-spacing: 200px 0px;
}
